{{ form_start(form) }}

<div class="input-field col s12">
{{form_row(form.genre)}}

</div>

   {{ form_widget(form) }} 
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
