{% extends 'base.html.twig' %}


{% block body %}

    <div class="parallax-container container-header-page  ">
        <h3 class="title-header-page center-align">Les promos</h3>
        <p class="text center-align">Le coin des bonnes affaires !
        </p>
        <div class="parallax ">
            <img src="/assets/img/image.jpg">
        </div>

    </div>
    {% if vinyls %}
        <div class='row'>
            <div class="col s1 ">
                <p>
                    <a href="{{path ('vinyl_index') }}" class="button-black ">Filtrer</a>
                </p>
            </div>
        </div>


        <div class="row">
            {% for vinyl in vinyls %}

                 {% set discount = ((vinyl.reducePrice - vinyl.regularPrice)/ vinyl.regularPrice) *100 %}
                <div class="col s12 m6 l3 container-vinyl-lsit center-align ">
                    
                        <a href="{{ path('vinyl_show', {'id': vinyl.id}) }}">
                            <span class=" right banner-discount">
                                {{discount|round}}
                                %</span><img class="cover-vinyl" src="{{ asset (vinyl.cover) }}"></a>
                    


                    <a class="link-vinyl" href="{{ path('vinyl_show', {'id': vinyl.id}) }}">
                        <div class="container-vinyl-info ">

                            <p class='artist-name'>{{ vinyl.artiste }}</p>
                            <p class='vinyl-name'>{{ vinyl.name }}</p>
                            <p class='label-and-year'>{{ vinyl.label }}-{{ vinyl.year }}</p>
                            <p class='vinyl-price-crossed'>{{ vinyl.regularPrice }}€</p>
                            <p class='vinyl-price'>{{ vinyl.reducePrice }}€
                            </p>


                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col s12 m12 l12 center-align">
                    <p>Oups ! Erreur, il n'y a pas de vinyles à afficher</p>
                </div>
            {% endfor %}
        </div>

    {% else %}

        <div class="row">

            <div class="col s12 center-align">
                <i class="material-icons large center-align">mood_bad</i>
                <p class="center-align">Malheuresment, il n'y a plus de vinyles en promo</p>
                <div class="center-align">

                    <a href="{{path ('vinyl_index') }}" class="button-white-call-to-action">Retourner au catalogue</a>
                </div>
            </div>
        </div>


    {% endif %}
{% endblock %}
