{% extends 'base.html.twig' %}

{% block title %}{{vinyl.name}}- {{vinyl.artiste}} | MoonCake Records
{% endblock %}

{% block body %}


    <a class="link-back" href="{{ path('vinyl_index') }}">
        <i class="tiny material-icons">arrow_back</i>Aller au catalogue</a>


    {% for message in app.flashes('notice') %}
        <div class="row">
            <div class="col s12 m6 l4 right">
                <p class="flash-notice center-align ">{{ message }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="row container-product-presentation">

        <div class="col l6 s12 center-align ">
            {% if vinyl.reducePrice >0 %}
                {% set discount = ((vinyl.reducePrice - vinyl.regularPrice)/ vinyl.regularPrice) *100 %}
                <span class=" right banner-discount">
                    {{discount|round}}
                    %</span>
            {% endif %}
            <img class="cover-vinyl-large" src="{{asset (vinyl.cover)}}" alt="cover-vinyl">
            <h5>Tracklist</h5>
            <ul>
                {% for track in tracks %}
                    <li>{{track.position}}-{{track.name}}
                    {% set  trackDurationMinute = track.duration| number_format(2) %}
                        <span class="duration-track">{{trackDurationMinute|replace({'.': ':'})}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col l6 s12" id="container-vinyl-main-infos">

            <h4 class="vinyl-artist">{{ vinyl.artiste }}</h4>
            <h5 class="vinyl-title">{{ vinyl.name }}</h5>

            <p>{{vinyl.label}}
                |
                {{vinyl.catNum}}
            </p>

            {% if vinyl.quantityStock > 0 %}
                <div class="right">
                    <form method="post" action="{{ path ('vinyl_show',{id : vinyl.id}) }}">
                        <input type="hidden" name="vinylSelected" value={{vinyl.id}}>
                        <button type="submit" class="waves-effect waves-light btn-large btn-add-cart">
                            <i class="material-icons left">add_shopping_cart</i>Ajouter au panier</button>
                    </form>
                </div>


            {% else %}
                <div class="right">
                    <button class="btn-large disabled">
                        <i class="material-icons left">add_shopping_cart</i>Ajouter au panier</button>
                </a>
            </div>

        {% endif %}


        {% if vinyl.reducePrice > 0 %}
            <p class='vinyl-price-crossed'>
                Prix initial :
                {{ vinyl.regularPrice }}€</p>
            <p class='vinyl-price'>
                {{ vinyl.reducePrice }}€
            {% else %}
                <p class='vinyl-price'>{{ vinyl.regularPrice }}€</p>
            {% endif %}


            {% if vinyl.quantityStock >0 %}
                <div class="stock-green">
                    <i class="tiny material-icons">brightness_1</i>
                    <span>En stock</span>
                </div>


            {% else %}
                <div class="stock-red">
                    <i class="tiny material-icons">brightness_1</i>
                    <span>Epuisé</span>
                </div>
            {% endif %}
        </div>
        <div class="col s6 ">
            <ul>
                <li>Année :
                    {{vinyl.year}}</li>
                <li>Format :
                    {{vinyl.format}}</li>
                <li>Genre :
                    {{vinyl.genre.name}}</li>
                <li>Etat du média :
                    {{vinyl.mediaCondition}}</li>
                <li>Etat de la pochette :
                    {{vinyl.sleeveCondition}}</li>
                <li>Année :
                    {{vinyl.year}}</li>
            </ul>
            {% if vinyl.description %}
                <p>{{vinyl.description}}</p>
            {% endif %}
        </div>

    </div>

    <div class="section ">
        <div class="row container container-title-section">
            <h5 class="section-title center-align">Ces vinyles pourraient aussi vous intéresser</h5>
        </div>

        <div class="row">
            {% for vinyl in relatedVinyls %}
                <div class="col s12 m6 l3 center-align ">
                    <a href="{{ path('vinyl_show', {'id': vinyl.id}) }}">
                        {% if vinyl.reducePrice >0 %}
                            <span class=" right banner-discount">PROMO</span>
                        {% endif %}
                        <img class="cover-vinyl" src="{{ asset (vinyl.cover) }}"></a>
                    <a class="link-vinyl" href="{{ path('vinyl_show', {'id': vinyl.id}) }}">
                        <div class="container-vinyl-info ">

                            <p class='artist-name'>{{ vinyl.artiste }}</p>
                            <p class='vinyl-name'>{{ vinyl.name }}</p>
                            <p class='label-and-year'>{{ vinyl.label }}
                                -
                                {{ vinyl.year }}</p>
                            {% if vinyl.reducePrice %}
                                <p class='vinyl-price-crossed'>{{ vinyl.regularPrice }}€</p>
                                <p class='vinyl-price'>{{ vinyl.reducePrice }}€
                                {% else %}
                                    <p class='vinyl-price'>{{ vinyl.regularPrice }}€</p>
                                {% endif %}

                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>


        <div class="parallax-container container-brand-promotion">
        <h3 class="title-call-to-action center-align">Nos engagements</h3>
        <p class="text-call-to-action ">L’équipe de MoonCake Records s’engage à répondre à toutes vos attentes pour vous proposer un service de qualité !</p>
        <div class="row">
            <div class="col s6 m4  l4 center-align">
                <img class="icon-brand-promotion" src="{{asset ('assets/img/award.png')}}" alt="award">
                <h4 class="title-brand-promotion">Qualité</h4>
                <p class="text">
                   Toutes les informations sur nos vinyles sont détaillés précisément et nous sommes à votre service en cas de besoin. </p>
            </div>
            <div class="col s6 m4 l4 center-align">
                <img class="icon-brand-promotion" src="{{asset ('assets/img/lp.png')}}" alt="vinyl">
                <h4 class="title-brand-promotion">Choix</h4>
                <p class="text">
                    Chez MoonCake Records, nous attachons une grande importance à vous proposer un large choix de vinyles. </p>
            </div>
            <div class="col s12 m4 l4 center-align">
                <img class="icon-brand-promotion" src="{{asset ('assets/img/delivery-truck.png')}}" alt="truck">
                <h4 class="title-brand-promotion">Livraison</h4>
                <p class="text">
                    Nous travaillons avec des prestataires de confiances pour vous assurer une livraison optimale de vos colis à votre domicile ! </p>
            </div>

        </div>


        <div class="parallax"><img  width="400px" class="image-filter-grey" src="{{asset ('assets/img/alberto-bigoni-4-DeS5a-hAM-unsplash.jpg')}}"></div>


    </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
