{% extends 'base.html.twig' %}


{% block body %}


    <div class="parallax-container container-call-to-action  ">
        <h3 class="title-call-to-action center-align">Lorem</h3>
        <p class="text-call-to-action ">Lorem ipsum dolor, sit amet consectetur adipisicing elit dolorum veritatis enim consectetur !</p>
        <div class="center-align">
            <a href="{{path ('vinyl_index') }}" class="button-white-call-to-action">Voir le catalogue</a>
        </div>

        <div class="parallax ">
            <img src="assets/img/image-call-to-action.jpeg">
        </div>

    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header titleSection">Les dernières nouveautés</h2>
            <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio numquam fuga omnis sed ratione ab, architecto, placeat, voluptas exercitationem magnam ipsum non recusandae ipsam fugit repellendus temporibus impedit officia a!</p>
        </div>

        <div class="row">
            {% for vinyl in vinyls %}
                <div class="col s12 m6 l3 center-align ">
                    <a href="{{ path('vinyl_show', {'id': vinyl.id}) }}">

                        {% if vinyl.reducePrice >0 %}
                            <span class=" right banner-discount">PROMO</span>
                        {% endif %}
                        <img class="cover-vinyl" src="{{asset (vinyl.cover)}}"></a>

                    <a class="link-vinyl" href="{{ path('vinyl_show', {'id': vinyl.id}) }}">
                        <div class="container-vinyl-info ">

                            <p class='artist-name'>{{ vinyl.artiste }}</p>
                            <p class='vinyl-name'>{{ vinyl.name }}</p>
                            <p class='label-and-year'>{{ vinyl.label }}
                                -
                                {{ vinyl.year }}</p>
                            {% if vinyl.reducePrice %}
                                <p class='vinyl-price-crossed'>{{ vinyl.regularPrice }}€</p>
                                <p class='vinyl-price'>{{ vinyl.reducePrice }}€
                                {% else %}
                                    <p class='vinyl-price'>{{ vinyl.regularPrice }}€</p>
                                {% endif %}

                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="parallax-container container-brand-promotion ">
        <h3 class="title-call-to-action center-align">Lorem</h3>
        <p class="text-call-to-action ">Lorem ipsum dolor, sit amet consectetur adipisicing elit dolorum veritatis enim consectetur !</p>
        <div class="row">
            <div class="col s6 m4  l4 center-align">
                <img class="icon-brand-promotion" src="assets/img/award.png" alt="award">
                <h4 class="title-brand-promotion">Lorem</h4>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col s6 m4 l4 center-align">
                <img class="icon-brand-promotion" src="assets/img/lp.png" alt="vinyl">
                <h4 class="title-brand-promotion">Lorem</h4>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col s12 m4 l4 center-align">
                <img class="icon-brand-promotion" src="assets/img/delivery-truck.png" alt="truck">
                <h4 class="title-brand-promotion">Lorem</h4>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>

        </div>


        <div class="parallax"><img class="image-filter-grey" src="assets/img/records-shop.jpg"></div>


    </div>

{% endblock %}
