{% extends 'base.html.twig' %}


{% block body %}


    <div class="parallax-container container-call-to-action  ">
        <h3 class="title-call-to-action center-align">Vivez la passion des vinyles ! </h3>
        <p class="text-call-to-action ">Profitez du plaisir d’écouter de la musique de qualité en découvrant notre catalogue de vinyles !</p>
        <div class="center-align">
            <a href="{{path ('vinyl_index') }}" class="button-white-call-to-action">Voir le catalogue</a>
        </div>

        <div class="parallax ">
            <img src="{{asset ("assets/img/image-call-to-action.jpeg")}}">
        </div>

    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header titleSection">Les dernières nouveautés</h2>
            <p class="grey-text text-darken-3 lighten-3">House, Soul, Reggae, Techno,... Chez MoonCake Records, il y en a pour tous les goûts et pour tous les budgets ! Offrez-vous de la musique de qualité en passant par notre boutique en ligne ! Notre catalogue est régulièrement mis à jour, ne ratez pas les dernières nouveautés !</p>
        </div>

        <div class="row">
            {% for vinyl in vinyls %}
                <div class="col s12 m6 l3 center-align container-vinyl-lsit ">
                    <a href="{{ path('vinyl_show', {'id': vinyl.id}) }}">

                        {% if vinyl.reducePrice >0 %}
                            <span class=" right banner-discount">PROMO</span>
                        {% endif %}
                        <img class="cover-vinyl" src="{{asset (vinyl.cover)}}"></a>

                    <a class="link-vinyl" href="{{ path('vinyl_show', {'id': vinyl.id}) }}">
                        <div class="container-vinyl-info ">

                            <p class='artist-name'>{{ vinyl.artiste }}</p>
                            <p class='vinyl-name'>{{ vinyl.name }}</p>
                            <p class='label-and-year'>{{ vinyl.label }}
                                -
                                {{ vinyl.year }}</p>
                                {% if vinyl.reducePrice %}
                                <p class='vinyl-price-crossed'>{{ vinyl.regularPrice }}€</p>
                                <p class='vinyl-price'>{{ vinyl.reducePrice }}€
                                {% else %}
                                    <p class='vinyl-price'>{{ vinyl.regularPrice }}€</p>
                                {% endif %}

                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="parallax-container container-brand-promotion">
        <h3 class="title-call-to-action center-align">Nos engagements</h3>
        <p class="text-call-to-action ">L’équipe de MoonCake Records s’engage à répondre à toutes vos attentes pour vous proposer un service de qualité !</p>
        <div class="row">
            <div class="col s12 m4  l4 center-align">
                <img class="icon-brand-promotion" src="{{asset ('assets/img/award.png')}}" alt="award">
                <h4 class="title-brand-promotion">Qualité</h4>
                <p class="text">
                    Toutes les informations sur nos vinyles sont détaillés précisément et nous sommes à votre service en cas de besoin. </p>
            </div>
            <div class="col s12 m4 l4 center-align">
                <img class="icon-brand-promotion" src="{{asset ('assets/img/lp.png')}}" alt="vinyl">
                <h4 class="title-brand-promotion">Choix</h4>
                <p class="text">
                    Chez MoonCake Records, nous attachons une grande importance à vous proposer un large choix de vinyles.</p>
            </div>
            <div class="col s12 m4 l4 center-align">
                <img class="icon-brand-promotion" src="{{asset ('assets/img/delivery-truck.png')}}" alt="truck">
                <h4 class="title-brand-promotion">Livraison</h4>
                <p class="text">
                    Nous travaillons avec des prestataires de confiances pour vous assurer une livraison optimale de vos colis à votre domicile !</p>
            </div>

        </div>


        <div class="parallax"><img width="400px" class="image-filter-grey" src="{{asset ('assets/img/luana-de-marco-PF1l1F1hzoU-unsplash.jpg')}}"></div>


    </div>

{% endblock %}
