{{ form_start(form) }}


<div class="form-input-container">

    {{form_label (form.vinyl, 'Choisir le vinyle')}}
    <div class="form-error">
        {{form_errors (form.vinyl)}}
    </div>
    {{form_widget (form.vinyl)}}


    {{form_label (form.name, 'Nom du titre')}}
    <div class="form-error">
        {{form_errors (form.name)}}
    </div>
    {{form_widget (form.name)}}

    {{form_label (form.position, 'Position du titre dans le vinyle')}}
    <div class="form-error">
        {{form_errors (form.position)}}
    </div>
    {{form_widget (form.position)}}


    {{form_label (form.duration, 'Durée du morceau')}}
    <div class="form-error">
        {{form_errors (form.duration)}}
    </div>
    {{form_widget (form.duration , {'attr': {'placeholder': 'Exemple : pour un titre  de 3:30, entrez 330'}})  }}
</div>


<div class="center-align">
    <button class="btn btn-admin-form">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}


