{% extends 'admin/base.html.twig' %}
{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col col-12"></div>


        </div>
        <div class="cointainer"></div>
        <h1 class="section-title">Liste des titres</h1>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Vinyle</th>
                    <th>Ref titre</th>
                </tr>
            </thead>

            {% for track in tracks %}

                <tr>
                    <td>{{track.name}}</td>
                    <td>{{track.vinyl.name}}</td>
                    <td>{{track.id}}</td>
                    <td>
                        <a class="btn btn-admin" href={{path ('track_edit', {'id': track.id} )}}>Modifier</a>
                    </td>

                    <td>{{ include('track/_delete_form.html.twig') }}</td>
                </tr>

            {% endfor %}


        </tbody>
    </table>
</div>{% endblock %}
