<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}Bienvenue chez MoonCake Records!
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link href="{{ asset ('assets/img/mini-logo MCR.png')}}" rel="shortcut icon">
            <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="{{ asset ('assets/css/styles.css')}}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <nav class="main-navbar">
            <div class="nav-wrapper">
                <a href="{{path ('home') }}" class="logoBrand">MoonCake Records</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="{{path ('home') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{path ('vinyl_index') }}">Catalogue</a>
                    </li>
                    <li>
                        <a href="{{path ("vinyl_promo")}}">Promos</a>
                    </li>
                    <li sty>
                        <a href="{{path ('contact') }}">Contact</a>
                    </li>

                    {% if app.user and not is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{path ('client_index') }}">
                                <i class="material-icons left">account_circle</i>Bonjour,
                                {{app.user.userName}}</a>
                        </li>

                    {% elseif app.user and  is_granted('ROLE_ADMIN') %}
                        <li>

                            <a href="{{path ("admin")}}">
                                <i class="material-icons left">view_compact</i>Administrateur</a>
                        </li>

                    {% else %}
                        <li>
                            <a href="{{path ('security_login') }}">
                                <i class="material-icons left">account_circle</i>Espace Client</a>
                        </li>

                    {% endif %}
                    <li>
                        <a id="link-cart" href="{{path ("cart_index")}}">
                            <i class="material-icons left">shopping_cart</i>Panier
                            {% if app.session.get("cart") > 0 %}
                                <span id="dot"></span>
                            {% endif %}
                        </a>
                    </li>

                    {% if app.user %}
                        <li>
                            <a href="{{path ("security_logout")}}">
                                <i class="material-icons left">clear</i>Déconnexion</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav main-sidenav" id="mobile-demo">
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{path ('home') }}" class="logoBrandSidenav ">MoonCake Records</a>
                </div>

            </div>

            <li class="active">
                <a href="{{path ('home') }}">
                    <span class="text-sidenav">Accueil</span>
                </a>
            </li>
            <li>
                <a href="{{path ('vinyl_index') }}">
                    <span class="text-sidenav">Catalogue</span>
                </a>
            </li>
            <li>
                <a href="{{path ("vinyl_promo")}}">
                    <span class="text-sidenav">Promos</span>
                </a>
            </li>
            <li>
                <a href="{{path ('contact') }}">
                    <span class="text-sidenav">Contact</span>
                </a>
            </li>

            {% if app.user and not is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{path ('client_index') }}">
                        <i class="material-icons left">account_circle</i>
                        <span class="text-sidenav">Bonjour,{{app.user.userName}}</span>
                    </a>
                </li>


            {% elseif app.user and is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{path ("admin")}}">
                        <i class="material-icons left">view_compact</i>
                        <span class="text-sidenav">Administrateur</span>
                    </a>
                </li>


            {% else %}
                <li>
                    <a href="{{path ('security_login') }}">
                        <i class="material-icons left">account_circle</i>
                        <span class="text-sidenav">Espace Client</span>
                    </a>
                </li>

            {% endif %}
            <li>
                <a href="{{path ("cart_index")}}">
                    <i class="material-icons left ">shopping_cart</i>
                    <span class="text-sidenav">Panier</span>
                </a>
            </li>
            {% if app.user %}
                <li>
                    <a href="{{path ("security_logout")}}">
                        <i class="material-icons left">clear</i>
                        <span class="text-sidenav">Déconnexion</span>
                    </a>
                </li>

            {% endif %}
        </body>
    </body>
</html></ul>{% block body %}{% endblock %}<footer class="page-footer main-footer">
<div class="row">
    <div class="col s12 m4 l2 center-align">
        <a href="http://facebook.com" target="_blank" rel="noopener noreferrer">
            <img class="logoSocialMediaFooter" src="{{ asset ('assets/img/facebook-logo-in-circular-button-outlined-social-symbol.png')}}" alt="facebook-logo"></a>
        <a href="http://instagram.com" target="_blank" rel="noopener noreferrer"><img class="logoSocialMediaFooter" src="{{asset ('assets/img/instagram.png')}}" alt="instagram-logo"></a>
        <a href="http://twitter.com" target="_blank" rel="noopener noreferrer"><img class="logoSocialMediaFooter" src="{{asset ('assets/img/twitter-circular-button.png')}}" alt="twitter-logo"></a>
    </div>
    <div class="col s12 m4 l8 center-align">
        <a href="{{path ('home') }}">
            <p class="logoBrandFooter">MoonCakeRecords</p>
        </a>
    </div>
    <div class="col s12 m4 l2">
        <a href="{{path ('mentions') }}">
            <span class="white-text">Mentions légales</span>
        </a>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="col s12 m12 l12 center-align">
            <p>Copyright ©2019 -
                <a href="https://github.com/Mickael42" target="_blank" rel="noopener noreferrer">
                    <span class="white-text">MW Agency</span>
                </a>
            </p>
        </div>
    </div>
</div></footer>{% block javascripts %}{% endblock %}<script>
document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
});</script><script>
document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
});</script><script>

document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script><script src="{{asset ('assets/js/main.js')}}"></script></body></html>
